<form (ngSubmit)="shortenUrl()">
    <mat-form-field appearance="outline" class="input">
        <mat-label>Enter URL</mat-label>
        <input matInput type="url" placeholder="Enter URL" [formControl]="originalUrl" name="url" required pattern="(https?:\/\/).+">
        @if (originalUrl.invalid) {
            <mat-error>{{errorMessage}}</mat-error>
        }
    </mat-form-field>
    <button mat-stroked-button color="accent" aria-label="Shorten">Shorten!</button>
</form>

<div>
    @if (shortenedUrl) {
        <mat-card class="card">
            <mat-card-content>
                <h2>Shortened URL</h2>
                <a href="{{shortenedUrl | removeHttp}}" target="_blank" style="display:block; margin-top: 10px; margin-bottom: 16px;">{{shortenedUrl | removeHttp}}</a>
                <button mat-stroked-button color="accent" aria-label="Copy" (click)="copyToClipboard()" style="display: block;margin: 0 auto;">Copy</button>
            </mat-card-content>
        </mat-card>
    }
</div>
