p, a {
    margin: 0;
}

button {
    width: 100px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.history-container {
    text-align: center;
    padding: 20px;
}

.history-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.history-card {
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 16px;
    width: 300px;
    word-wrap: break-word;
}

.original-url, .short-url {
    font-size: 12px;
}

.url {
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    color: #000;
}